%tr[ macro_step, :marker ]
%tr[ macro_step, :show ]
  %td{ width: 50 }= macro_step.position
  %td{ width: 90 }= macro_step.action
  %td{ width: 80 }= macro_step.record_type
  %td{ width: 230 }= macro_step.name
  %td{ width: 30 }= macro_step.ttl
  %td{ width: 30 }= macro_step.prio
  %td{ width: 230 }= macro_step.content
  %td{ width: 40 }
    = link_to font_icon('pencil', 'edit-step'), '#', onclick: "editRecordTemplate(#{macro_step.id}); return false;", class: 'no-decoration', title: t(:title_macro_update)
    = link_to font_icon('trash', 'delete-step'), macro_macro_step_path(@macro, macro_step), method: :delete, data: { confirm: t(:confirm_macro_step_delte) }, class: 'no-decoration', title: t(:title_macro_update)
%tr[ macro_step, :edit ]{ style: 'display: none' }
  %td{ colspan: 8 }
    = form_for( [@macro, macro_step], :remote => true ) do |f|
      %div[ macro_step, :error ]
      .table-wrapper
        %table.gridwide
          %tr
            %td{ width: 50 }= f.text_field :position, size: 3
            %td{ width: 90 }= f.select :action, MacroStep.valid_actions.map { |a| [ a.humanize, a ] }
            %td{ width: 80 }= f.select :record_type, Macro.record_types.map { |t| [t,t] }
            %td{ width: 220 }= f.text_field :name, size: 15
            %td{ width: 30 }= f.text_field :ttl, size: 6
            %td{ width: 30 }
              - if macro_step.record_type == 'MX' || macro_step.record_type == 'SRV'
                = f.text_field :prio, size: 2
            %td{ width: 220 }= f.text_field :content, size: 15
            %td{ width: 44 }
              = submit_tag t(:generic_save), {class: 'nb'}
              = link_to font_icon('ban', 'cancel'), '#', onclick: "hideRecordTemplate(#{macro_step.id}); return false;", class: 'no-decoration', title: t(:generic_cancel)
