%div{ :style => "display: none" }
  #new-macro= t :help_macro_new
  #delete-macro= t :help_macro_delete

%ul.start
  %li
    = link_to font_icon('plus-circle', 'new-macro', t(:label_macro_add)), new_macro_path, class: 'no-decoration'

%h1.underline Macros

- if @macros.size > 0
  %table.gridwide
    = render :partial => @macros
- else
  %em= t :message_macro_not_defined
