%div{ :style => "display: none;" }
  #new-template= t :help_template_zone_new
  #edit-template= t :help_template_zone_edit
  #delete-template= t :help_template_zone_delete
  #missing-soa= t :help_template_zone_soa_missing

%ul.start
  %li
    = link_to font_icon('plus-circle', 'new-template', t(:label_template_create_new)), new_zone_template_path, class: 'no-decoration'

%h1.underline Zone Templates

%table.gridwide
  = render :partial => 'zone_template', :collection => @zone_templates
