#new-user{ :style => 'display: none' }= t :help_user_add

%ul.start
  %li
    = link_to font_icon('plus-circle', 'new-user', t(:label_user_create), 2, "sub"), new_user_path, class: 'no-decoration'

%h2.underline= t :title_users

.table-wrapper
  %table.gridwide
    %tr
      %tr
        %th= t(:header_user)
        %th= t(:header_email)
        %th= t(:header_role)
        %th= t(:header_state)
        %th= t(:header_actions)
  
    = render :partial => 'user', :collection => @users
