%div{ :style => "display: none" }
  #new-zone= t :help_adds_new_domain
  #delete-zone= t :help_delete_domain
  #zone-edit=t :help_zone_edit
  #delete-zone=t :help_delete_zone
  #audits=t :help_audits
  #macro=t :help_macro
  
%ul.start
  %li
    = link_to font_icon('plus-circle', 'new-zone', t(:label_add_new_zone), 2, "sub"), new_domain_path, class: 'no-decoration'

%h1.underline= t :title_domains_list

.table-wrapper
  %table.gridwide.js-sort-table
    %tr
      %th= t(:header_domain)
      %th= t(:header_type)
      %th= t(:header_user)
      %th= t(:header_actions)

    = render :partial => 'domain', :collection => @domains

#collection-info
  = t(:x_domains, :count => @domains.total_entries)

= will_paginate @domains
