!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #Container
      #Header
        %h1
          =t :layout_main_title
      - if current_user
        #search-bar
          = form_tag( { controller: :search, action: :results }, { method: :get } ) do
            = text_field_tag :q
            = submit_tag( t(:generic_search) )
        #Nav
          %ul
            %li= link_to((t :layout_menu_home), root_url)
            %li= link_to((t :layout_menu_domains), domains_path)
            %li= link_to((t :layout_menu_templates), zone_templates_path)
            %li= link_to((t :layout_menu_macros), macros_path)
            - if current_user.admin?
              %li= link_to((t :layout_menu_logs), audits_path)
              %li= link_to((t :layout_menu_users), users_path)
              %li= link_to((t :layout_menu_reports), reports_path)
            %li= link_to((t :layout_menu_logout), destroy_user_session_path, method: :delete)

      #Body
        = show_flash

        = yield
      #Footer
